requests==2.31.0
schedule==1.2.1
ts3==2.0.0b3
Flask==3.0.2
flask-cors==4.0.0
waitress==3.0.0
GuildWars2-API-Client==0.6.0
cachetools==5.3.3
ConfigArgParse==1.7
coloredlogs==15.0.1
humanize==4.9.0
pytz==2024.1