requests==2.31.0
schedule==1.2.1
ts3==2.0.0b3
Flask==3.0.0
flask-cors==4.0.0
waitress==2.1.2
GuildWars2-API-Client==0.5.9
cachetools==5.3.1
ConfigArgParse==1.7
coloredlogs==15.0.1
humanize==4.8.0
pytz==2023.3