name: Lint
on:
  push:
    paths:
      - '**requirements.txt'
      - '**.py'
      - '.flake8'
      - '.pylintrc'
      - '**.yml'
  pull_request:
    paths:
      - '**requirements.txt'
      - '**.py'
      - '.flake8'
      - '.pylintrc'
      - '**.yml'
jobs:
  Flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.3.2
        with:
          python-version: '3.8' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: 'Flake8'   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  Pylint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0
      - uses: actions/setup-python@v2.3.2
        with:
          python-version: '3.8' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
      - name: Install Pylint
        run: pip install pylint pylint-exit
      - name: Install Requirements
        run: pip install -r requirements.txt
      - name: Enable Matcher
        run: echo "::add-matcher::./.github/problem-matchers/pylint-problem-matcher.json"
      - name: Run Pylint
        run: |
          python -m tools.pylint \
            --jobs 1 \
            --reports=y \
            --persistent=n \
            --rcfile=.pylintrc \
            -f tools.pylint.githubreporter.GithubReporter \
            bot || pylint-exit --error-fail $?
      - name: Disable Matcher
        run: echo "::remove-matcher owner=pylint::"

